<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <th style="width: 150px;">Nombre</th>
            <th style="width: 150px;">Edad</th>
            <th style="width: 150px;">Fecha de Nacimiento</th>
        </thead>
        {% for fam in list %}
        <tbody>
            <tr>
                <td style="text-align: center;">{{fam.name}}</td>
                <td style="text-align: center;">{{fam.age}}</td>
                <td style="text-align: center;">{{fam.birth_date}}</td>
            </tr>
        </tbody>
    {% endfor %}
    </table>
    
</body>
</html>